<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="httpAPI" value="http://localhost:3334/v1/dronestatus"/>
		<add key="brokerMQTT" value="127.0.0.1"/>
		<add key="portMQTT" value="1883"/>
		<add key="topicMQTT" value="protocolliIOT/stato/drone"/>
	</appSettings>
</configuration>